@font-face {
    font-family: 'NeueWorld L';
    src: url(../fonts/NeueWorld-light.woff2) format('woff2');
    weight: normal;
}

@font-face {
    font-family: 'NeueWorld R';
    src: url(../fonts/NeueWorld-regular.woff2) format('woff2');
    weight: normal;
}

$body-bg: #262525;
$primary-color: #c2c2c2;
$border-color-dark: #4C4C4C;


body {

    position: relative;
    background-color: $body-bg;
    margin: 0;
    font-family: 'NeueWorld L', sans-serif;
    font-weight: 400;

    .container {
        position: relative;
        margin-left: 32px;
        margin-right: 32px;
        padding-left: -32px;
        padding-right: -32px;
    }

    p {
        margin: 0;
    }

}