@import url("https://use.typekit.net/thi3ent.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {

    background-color: #F6EEE3;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .entry {
        font-family: orpheuspro, serif;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        margin: 0 auto;
    }

    .main-wrapper {
        height: 100%;
        position: relative;
        padding-left: 45px;
        padding-right: 45px;

        @media screen and (min-width: 1600px) {
            padding-left: 75px;
            padding-right: 75px;
        }

        .container {

            margin: 0 auto;
            width: 85vw;

        }

    }
}