@import url("https://use.typekit.net/thi3ent.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {

    background-color: #F6EEE3;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    cursor: none;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .entry {
        font-family: orpheuspro, serif;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        margin: 0 auto;
    }

    .cursor {
        width: 40px;
        height: 40px;
        border: 2px solid #fefefe;
        border-radius: 100%;
        position: fixed;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 9999;
        mix-blend-mode: difference;
        transition: all 150ms ease;
        transition-property: opacity, background-color, transform, mix-blend-mode;

    }

    .cursor--hidden {
        opacity: 0;
    }

    .cursor--clicked {
        transform: translate(-50%, -50%) scale(0.9);
        background-color: #fefefe;
    }

    .cursor--link-hovered {
        transform: translate(-50%, -50%) scale(1.25);
        background-color: #fefefe;
    }

    .split-parent {
        overflow: hidden;
    }

    .split-child {
        display: inline-block;
      }

}