@import 'components/Projects';

.jb_frontpage {
    position: relative;
    width: 100%;

    header {

        .headline {

            font-size: 105px;
            text-align: center;
            font-weight: 400;
            line-height: 135px;

            .anim-wrap {

                position: relative;
                overflow: hidden;

            }

        }

    }

}